./data/
./codeassist/
./external/

src/sensors/ip/EIT-Device-Firmware/_build/*
src/sensors/ip/EIT-Device-Firmware/drivers/cmsis/DSP
src/sensors/ip/EIT-Device-Firmware/drivers/cmsis/NN
src/sensors/ip/EIT-Device-Firmware/drivers/cmsis/RTOS

src/sensors/ip/EIT-Device-Firmware/env.cmd