*__pycache__
/codeassist/
/external/
/hardware_schematics/
.vscode
src/*/_build/
/drivers/cmsis/DSP
/drivers/cmsis/NN
/drivers/cmsis/RTOS
/data/
*env.cmd
*.csv
*.egg-info
info.log
notebooks/*
!notebooks/etl.ipynb