*__pycache__
/codeassist/
/external/
/hardware_schematics/
.vscode
src/*/_build/
/drivers/cmsis/DSP
/drivers/cmsis/NN
/drivers/cmsis/RTOS
/data/*
!data/RawData_NamingGuide.txt
*env.cmd
*.csv
*.egg-info
info.log
notebooks/*
!notebooks/etl.ipynb
!notebooks/groundtruth.ipynb
